{
  background-color: 'black';
}

.top-bar {
  width: 100%;
  height: 100px;
  background-color: 'red';
}

.sim-frame {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background-color: black;

}
.sim {
  width:100%;
  height:100%;
}

g#sender {
  fill: green;
  stroke: lightgreen;
}
g#receiver {
  fill: orange;
  stroke: darkorange;
}
rect.framebox {
  width:30;
  height:30;
  stroke:brown;
}
#framebox {
  visibility: hidden;
}
g#sender-framegroup{
  color:white;
}
.sframe {
  color:red;
  fill:yellow;
}
