{
  background-color: 'black';
}

.top-bar {
  width: 100%;
  height: 100px;
  background-color: 'red';
}

.sim-frame {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background-color: black;
}
.sim {
  width:100%;
  height:100%;
}
